<h1>Articles#show</h1>

<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<p><%= link_to "edit",  edit_article_path(@article) %></p>

<%= link_to article_path(@article.id),
      method: :delete,
      data: { confirm: "Are you sure?" } do %> <i class="fas fa-dumpster-fire"></i> <% end %>

<p><%= link_to 'back to list', articles_path %></p>

